{% if product.metafields.osaria_sap.audio_file != blank %}
<div class="progression-{{shop.metafields.osaria_sap.size}}">
    <div class="responsive-wrapper responsive-audio">
        <div class="product-image-container papp-player" style="border:0px">
            <audio src="{{shop.metafields.osaria_sap.server}}/{{ shop.domain }}/{{ product.id }}/{{ product.metafields.osaria_sap.audio_file }}" class="progression-skin progression-{{shop.metafields.osaria_sap.skin}}" preload="{{shop.metafields.osaria_sap.preload}}"></audio>
        </div>
    </div>
</div>
{% endif %}
