/*Custom css*/


/* Modal Content */
.modal {visibility:unset;display: none;position: absolute;z-index: 1; padding-top: 20vh;left: 0;top: 0;width: 100%;height: 100%; overflow: auto;background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
.modal {
    transform: unset !important;
}
.modal-content {background-color: #05121d;margin: auto;padding: 20px;border: 1px solid #888;width: 500px;max-width:100%;color:#fff;text-align:center;}
/* The Close Button */
.close {color: #fff;float: right;font-size: 28px; font-weight: bold;margin-top:-40px;margin-right:-40px; width:40px;  height:40px;  background:#000;  border-radius:50%;  line-height:40px; cursor: pointer;}
.modal-content h2 {
  color: #FFF; 
  font-size: 30px;
  font-weight: normal;
  font-family: Roboto, sans-serif;
}

.modal.newsletter .modal-content {
  background: #000;
}

.modal.newsletter ._title {
  padding-left: 10px;
  padding-right: 10px;
}
.modal.newsletter ._title, .modal.newsletter ._subtitle {
  font-weight: 300;
}

.modal-content p {font-size: 15px; color: #fff;letter-spacing: 0.5px;line-height: 28px;}
.mc-field-group input {width: 100%; margin-bottom: 10px; height:45px;color: black;}
#myModal .modal-content {
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}
@media (max-width: 749px) {
  #myModal .modal-content {
    max-width: 90%;
  }
}
input#mc-embedded-subscribe { 
  background: #ff6a00;  
  border:0px;
  background-size: 20px;

  background-position: right;
  background-repeat: no-repeat;
}

drag-cursor.custom-drag-cursor svg path:first-child {
  fill: #19242F;
}

drag-cursor.custom-drag-cursor svg path:last-child {
  stroke: #FFF;
}

@media (min-width: 750px) {
  .shopify-section.shopify-section--main-product > section > .container {
    margin-top: 30px;
  }
}
